<div class="seccionAbout">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-1 d-flex align-items-center">
                <div>
                    <p class="mb-0 introTitle">Apartado personal</p>
                    <h1>Conóceme mejor</h1>
                    <p>Desarrollador de software con sólida experiencia en tecnologías <span>Full-Stack</span>, y un
                        enfoque en la creación de soluciones eficientes y creativas.</p>

                    <p>Apasionado por las nuevas tecnologías, tengo gran entusiasmo por aportar valor a través de los
                        conocimientos que he adquirido a lo largo de los años. Gracias a mi nivel de <span>inglés
                            profesional</span> y
                        mi experiencia en el extranjero, puedo comunicarme fluidamente en equipos internacionales y
                        afrontar con confianza proyectos en contextos multiculturales.</p>


                    <p>
                        Me defino como una persona <span>creativa</span>, <span>adaptable</span> y con capacidad tanto
                        para el <span>trabajo en equipo</span> (habiendo trabajado bajo dinámicas Scrum y Agile), como
                        para tareas que dependan de <span> mi mismo</span>.
                    </p>




                </div>
            </div>
            <div class="col-lg-6 order-2  d-flex align-items-center justify-content-center">
                <img class="img-fluid pfp" src="../../../../../assets/me.webp" alt="Imagen de Pablo López Luján">
            </div>

        </div>
    </div>
</div>