.seccionAbout {
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: white;
}

h1{
  font-weight: 800;
  color: rgba(255, 255, 255, 0.889);
}

p{
  color: rgba(255, 255, 255, 0.648);
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: -0.017em;
  font-weight: 400;
}

span{
  color: rgb(70, 152, 254);
  font-weight: 600;
}

.introTitle{
  color: rgba(183, 215, 255, 0.803);

  
}

.pfp{
  border-radius: 15px;
  height: 68%;
}
