<div class="seccionAbout">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-1 d-flex align-items-center">
                <div>
                    <p class="mb-0 introTitle">Apartado personal</p>
                    <h1>Conóceme mejor</h1>
                    <p>Desarrollador de software, con una sólida experiencia en tecnologías <span>Full-Stack</span>, con
                        una
                        especial conexión con el <span>Front-End</span> el cual me permite mostrar mi lado mas
                        perfeccionista e imaginativo.</p>

                    <p>Soy un gran apasionado de las nuevas tecnologías, con gran entusiasmo por poder aportar y poner
                        en
                        valor los conocimientos que he ido aprendiendo durante los años, y por supuesto de enriquecerme
                        en un entorno laboral que me lo permita. Gracias a mi nivel de
                        <span>inglés profesional</span> y mi experiencia en el extranjero soy capaz comunicarme
                        fluidamente en equipos internacionales y afrontar con confianza cualquier proyecto fuera de mi
                        lengua materna.
                    </p>

                    <p>
                        Me defino como una persona <span>creativa</span>, <span>adaptable</span> y con capacidad tanto
                        para el <span>trabajo en equipo</span>, como para tareas que dependan de mi mismo.
                    </p>




                </div>
            </div>
            <div class="col-lg-6 order-2  d-flex align-items-center justify-content-center">
                <img class="img-fluid pfp" src="../../../../../assets/me.jpg" alt="">
            </div>

        </div>
    </div>
</div>