<div class="seccionAbout">
    <div class="container">
        <div class="boxAbout">
            <div class="row">
                <div class="col">
                    <h2 class="textPrimary">Un poco sobre mi</h2>
                    <p class="textSecondary"> 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt nulla nec enim lobortis vehicula. Pellentesque gravida sed metus sit amet auctor. Nunc quis urna a orci blandit laoreet. Nulla at lectus sed erat suscipit pretium. Nunc in ex tristique, tristique nulla ac, ultrices sapien. Donec ac hendrerit nisl, vel sollicitudin mi. Cras consequat tellus at diam molestie, sollicitudin gravida lectus tincidunt. Ut faucibus lorem luctus libero suscipit, quis blandit libero volutpat.
                    </p>
                </div>
                <div class="col">
                    <div class="imgHolder"></div>
                </div>
            </div>
        </div>
    </div>
</div>
