.seccionAbout {
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: var(--text1);
}

h1{
  font-weight: 800;
  color: var(--text1);
}

p{
  color: var(--text2);
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: -0.017em;
  font-weight: 400;
}

span{
  color: var(--accent);
  font-weight: 600;
}

.introTitle{
  color: var(--pretext);

  
}

.pfp{
  border-radius: 15px;
  height: 68%;
}
