<div class="formation1">
  <div class="formationBox">
    <div class="formationHolder">
      <div class="img">
        <img class="img-fluid" src="../../../../../assets/vedruna_logo.png">
      </div>
      <div class="text">
        <h1>FP Vedruna</h1>
        <h2>Desarrollo de Aplicaciones Multiplataforma</h2>
        <h3>2020-2022 <span class="ms-2">Sevilla, España</span></h3>
      </div>
    </div>
  </div>


  <div class="formationBox">
    <div class="formationHolder">
      <div class="img">
        <img class="img-fluid" src="../../../../../assets/altair_logo.png">
      </div>
      <div class="text">
        <h1>Altair FP</h1>
        <h2>Desarrollo de Aplicaciones Web</h2>
        <h3>2022-2024 <span class="ms-2">Sevilla, España</span></h3>
      </div>
    </div>
  </div>

  <div class="divider d-flex align-items-center mt-5 mb-1">
    <p class="text-center  mx-3 mb-0" style="color: var(--text2)">Otras formaciones</p>
  </div>
</div>


<div class="formation2">
  <div class="extrasContainer">
    <div class="eHolder">
      <div class="extra form1">
        1
      </div>
    </div>
    <div class="eHolder">
      <div class="extra form2">
        2
      </div>
    </div>
    <div class="eHolder">
      <div class="extra form3">
        3
      </div>
    </div>
  </div>
</div>

