<div class="container-formation">
  <div class="formationBox">
    <div class="formationHolder  d-flex align-items-center">
      <span class="img svgV"></span>
      <div class="text">
        <h2>Desarrollo de Aplicaciones Multiplataforma</h2>
        <h1>Escuela Profesional Vedruna</h1>

        <h3><span class="date me-2">2020-2022</span>Sevilla, España</h3>
      </div>
    </div>
  </div>

  <div class="formationBox">
    <div class="formationHolder d-flex align-items-center">
      <span class="img svgA"></span>
      <div class="text">
        <h2>Desarrollo de Aplicaciones Web</h2>
        <h1>Altair Formación Profesional</h1>

        <h3><span class="date me-2">2020-2022</span>Sevilla, España</h3>
      </div>
    </div>
  </div>

  <div class="divider d-flex align-items-center mt-4 mb-1">
    <p class="text-center  mx-3 mb-0" style="color: var(--text2)">Otras formaciones</p>
  </div>
  <div class="scroll-container d-flex mt-3">
    <div class="techSq me-2 mb-3"><i class="fa-brands fa-java"></i></div>
    <div class="techSq me-2"><i class="fa-brands fa-java"></i></div>
    <div class="techSq me-2"><i class="fa-brands fa-java"></i></div>
    <div class="techSq me-2"><i class="fa-brands fa-java"></i></div>
    <div class="techSq me-2"><i class="fa-brands fa-java"></i></div>
    <div class="techSq me-2"><i class="fa-brands fa-java"></i></div>
    <div class="techSq me-2"><i class="fa-brands fa-java"></i></div>
  </div>
</div>