  /*
  SCSS de: Componente Formation
  @Autor: Pablo López Luján
          github.com/pablolop12
  */

  /* Contenedor del componente */
  .container-formation {
    padding: 10px;
  }

  /* Estilo para las cajas de educacion institucional */
  .formationBox {
    margin-bottom: 10px;
    background-color: var(--formationBox);
    border-radius: 5px;
  }

  /* Estructura de las cajas */
  .formationHolder {
    width: 100%;
    display: flex;
    align-items: stretch;
  }

  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex: 0 0 auto;
  }

  /* Estilo para los elementos de cada educación */
  .text {
    padding: 5px;
    flex: 1;
  }

  .text h1 {
    font-size: 25px;
    margin-bottom: 3px;
  }

  .text h2 {
    font-size: 20px;
    color: var(--accent);
  }

  .text h3 {
    font-size: 15px;
  }

  .date {
    color: var(--date);
  }


  /* Divisor de educaciones */
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    opacity: 0.4;
    background: var(--text2);
  }

  .extrasContainer {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .eHolder {
    width: 33.33%;
    height: 100%;
    border-radius: 5px;
    padding: 5px;
  }

  /* SVG Vedruna Logo */
  .svgV {
    width: 80px;
    height: 80px;
    margin-inline-end: 10px;
    background-color: var(--text1);
    -webkit-mask-image: url("../../../../../assets/vedruna_logo.svg");
    mask-image: url("../../../../../assets/vedruna_logo.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-size: contain;
    background-position: center;

  }

  /* SVG Altair Logo */
  .svgA {
    width: 80px;
    height: 80px;
    margin-inline-end: 10px;
    background-color: var(--text1);
    -webkit-mask-image: url("../../../../../assets/altair_logo.svg");
    mask-image: url("../../../../../assets/altair_logo.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  /* Icono/Caja de Educacion adicional */
  .techSq {
    background-color: #303030;
    overflow: hidden;
    color: rgb(255, 204, 0);
    border-radius: 10px;
    width: 80px;
    min-width: 80px;
    height: 80px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    i {
      text-shadow: 1px 4px 2px #0000001e;
    }
  }

  /* Todo lo relacionado con hacer que haya Scroll horizontal para ver educacion adicionales */
  .scroll-container {
    display: flex;
    overflow-x: auto;
    /* Habilita el scroll horizontal */
    white-space: nowrap;
    /* Evita que los elementos bajen de línea */

  }

  .scroll-container::-webkit-scrollbar {
    height: 7px;
    /* Tamaño del scroll horizontal */
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background-color: var(--scrollBar);
    /* Color del scroll */
    border-radius: 4px;
  }

  .scroll-container::-webkit-scrollbar-track {
    background-color: var(--scrollBg);
    border-radius: 4px;
  }

  .scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollBarHover);
    /* Color del scroll al hacer hover */
  }



  .info{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--formationBox);
    border-radius: 5px;
    padding: 8px;
    border-left: 4px solid var(--accent);
    font-size: 14px;
    color: var(--text2);
  }