.formation1{
  padding: 10px;
}
.formation2{
  padding: 5px;
}

.formationBox {
  margin-bottom: 10px;
  background-color: var(--formationBox);
  border-radius: 5px;
}

.formationHolder {
  width: 100%;
  display: flex;
  align-items: stretch; /* Ensure children elements stretch to the same height */
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex: 0 0 auto;
}

.text {
  padding: 5px;
  //padding-right: 10px;
  flex: 1; /* Allow text to take remaining space */
}

.text h1 {
  font-size: 25px;
  margin-bottom: 3px;
}

.text h2 {
  font-size: 20px;
  color: var(--accent);
}

.text h3 {
  font-size: 15px;
}

.date {
  color: var(--date);
}


//Divisor
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
opacity: 0.4;
background: var(--text2); //#eeeeee56
}

.extrasContainer {
display: flex;
height: 100%;
width: 100%;
}

.eHolder {
  width: 33.33%;
  height: 100%;
  border-radius: 5px;
  padding: 5px;
}

.extra {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--text);

  background-color: rgb(37, 37, 37);
  border-radius: 5px;
  padding: 10px;
}

.svgV {
  width: 80px; /* Ajusta el tamaño según sea necesario */
  height: 80px;
  margin-inline-end: 10px;
  background-color: var(--text1); /* Aplica el color que desees */
  -webkit-mask-image: url("../../../../../assets/vedruna_logo.svg"); /* Ruta al SVG */
  mask-image: url("../../../../../assets/vedruna_logo.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  
}

.svgA {
  width: 80px; /* Ajusta el tamaño según sea necesario */
  height: 80px;
  margin-inline-end: 10px;
  background-color: var(--text1); /* Aplica el color que desees */
  -webkit-mask-image: url("../../../../../assets/altair_logo.svg"); /* Ruta al SVG */
  mask-image: url("../../../../../assets/altair_logo.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

