.seccionExperience {
    position: relative;
    overflow: hidden;
    z-index: 1;
    
    color: white;
  }

  .baseExperience{
    background-color: #0132575f;
    filter: blur(10px);
    border-radius: 8px;
  }