<div class="seccionExperience">
    <div class="container">
      <div class="row justify-content-center mb-4">
        <div class="col-12 text-center mb-5">
          <h1>Trayectoria en desarrollo</h1>
          <p class="custom-paragraph">
            Este es el resumen de mi trayectoria tanto como programador como a nivel profesional, cuento con experiencia tanto en entornos <span>Front-End</span> como <span>Back-End</span>.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mb-3">
          <div class="baseExperience h-100">
            <div class="head mb-3">
              <div class="badge">
                <i class="fa-solid fa-briefcase me-1"></i>Trayec. Laboral
              </div>
            </div>
            <div>
              <app-exp-progress></app-exp-progress>
            </div>

          </div>
        </div>
        <div class="col-lg-4 mb-3">
          <div class="baseExperience2 h-100">
            <div class="head mb-3" style="padding-inline: 10px;">
              <div class="badge">
                <i class="fa-solid fa-graduation-cap me-1"></i>Trayec. Educacional
              </div>
            </div>
            <div >
              <app-formation></app-formation>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  