<div class="container d-flex justify-content-center">
    <table class="table-container2">
        <tr>
            <td>
                <div class="cell"></div>
            </td>
            <td>
                <div class="cell"></div>
            </td>
            <td>
                <div class="cell"></div>
            </td>
            <td>
                <div class="cell"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="cell act">
                    <div class="skill d-flex justify-content-center align-items-center">
                        <img class="img-fluid img-float1" src="../../../../assets/Bootstrap_logo.png">
                    </div>
                </div>
            </td>
            <td colspan="2">
                <div class="cell2">
                    <div class="skill d-flex justify-content-center align-items-center">
                        <img class="img-fluid img-float2" src="../../../../assets/Angular_logo.png">
                    </div>
                </div>
            </td>
            <td>
                <div class="cell act">
                    <div class="skill d-flex justify-content-center align-items-center">
                        <img class="img-fluid img-float3" src="../../../../assets/Sass_logo.png">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="cell act">
                    <div class="skill d-flex justify-content-center align-items-center">
                        <img class="img-fluid img-float4" src="../../../../assets/Spring_logo.png">
                    </div>
                </div>
            </td>
            <td colspan="2">
                <div class="cell2">
                    <div class="skill d-flex justify-content-center align-items-center">
                        <img class="img-fluid img-float1" src="../../../../assets/Java_logo.png" style="height: 85px;">
                    </div>
                </div>
            </td>
            <td>
                <div class="cell act">
                    <div class="skill d-flex justify-content-center align-items-center">
                        <img class="img-fluid img-float2" src="../../../../assets/Git_logo.avif">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="cell"></div>
            </td>
            <td>
                <div class="cell"></div>
            </td>
            <td>
                <div class="cell"></div>
            </td>
            <td>
                <div class="cell"></div>
            </td>
        </tr>
    </table>
    <div class="vignette1"></div>
    <table class="table-container">
        <tr>
            <td>
                <div class="cell"></div>
            </td>
            <td>
                <div class="cell"></div>
            </td>
            <td>
                <div class="cell"></div>
            </td>
            <td>
                <div class="cell"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="cell"></div>
            </td>
            <td colspan="2">
                <div class="cell2"></div>
            </td>
            <td>
                <div class="cell"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="cell"></div>
            </td>
            <td colspan="2">
                <div class="cell2"></div>
            </td>
            <td>
                <div class="cell"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="cell"></div>
            </td>
            <td>
                <div class="cell"></div>
            </td>
            <td>
                <div class="cell"></div>
            </td>
            <td>
                <div class="cell"></div>
            </td>
        </tr>
    </table>
</div>
