<div class="timeline">

  <!-- Experiencia Profesor Particular -->
  <div class="timeline-item">
    <div class="row mb-3">
      <div class="col-lg-5">
        <div class="timeline-details">
          <div class="timeline-marker"></div>
          <span class="role">Profesor particular</span><br>
          <h4 class="company">Freelance</h4>
          <span><span class="date me-2">Actualidad</span>Sevilla, España</span>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="timeline-description mt-3 mt-md-0">
          <p>Clases de <span class="highlight">Java</span> online nivel básico-medio, trabajo esporádico que compagino
            con mi formación.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Experiencia Eviden -->
  <div class="timeline-item">
    <div class="row mb-3">
      <div class="col-lg-5">
        <div class="timeline-details">
          <div class="timeline-marker"></div>
          <span class="role">Desarrollador Full-Stack</span><br>
          <h4 class="company">Eviden
            <a target="_blank" href="https://eviden.com/es-es/" role="button" aria-label="Sitio web de Eviden" class="external"><i
            class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>

          </h4>
          <span><span class="date me-2">2024</span>Sevilla, España</span>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="timeline-description mt-3 mt-md-0">
          <p>Prácticas como desarrollador Web Full-Stack en proyectos internos de la empresa, utilizando <span
              class="highlight">Java</span> (REST & SpringBoot) y <span class="highlight">Angular</span> para el frontend.
            Colaboré con equipos multidisciplinarios para diseñar y desarrollar soluciones escalables.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Experiencia OVAN GmbH -->
  <div class="timeline-item">
    <div class="row mb-3">
      <div class="col-lg-5">
        <div class="timeline-details">
          <div class="timeline-marker"></div>
          <span class="role">Desarrollador Front-End</span><br>
          <h4 class="company">OVAN GmbH
            <a role="button" aria-label="Sitio web de OVAN GmbH"  target="_blank" href="https://ovan.de/" class="external"><i
                class="fa-solid fa-arrow-up-right-from-square"></i></a></h4>
          <span><span class="date me-2">2022</span>Berlín, Alemania</span>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="timeline-description mt-3 mt-md-0">
          <p>Prácticas en el extranjero gracias a la beca <span class="highlight">Erasmus +</span>, donde trabajé
            durante seis meses en una compañía de desarrollo web con <span class="highlight">Wordpress</span>, <span
              class="highlight">HTML</span>, <span class="highlight">Sass</span> y <span class="highlight">PHP</span>,
            formando parte de un equipo internacional.</p>
        </div>
      </div>
    </div>
  </div>

</div>
