.imgHolder {
    background-color: #0a080c;
    border-radius: 8px 8px 0 0  ;
    max-height: 130px;
    margin-bottom: 60px;
    position: relative;
}

.content{
    padding: 10px;
}

.avatar {
    margin-left: 10px;
    position: relative;
    margin-top: 70px;
    max-height: 120px;
    border-radius: 50%;
    border: 6px solid var(--gitprev);
    /* Añade un borde de 5px con color azul */
}

.name{
    font-size: 30px;
    margin: 0;
    font-weight: 600;
}

.login{
    font-weight: 300;
    color: var(--gitText2);
    margin-bottom: 10px;
}

.bio{
    font-weight: 400;
    font-size: 17px ;
    color: var(--text1);
    margin-bottom: 10px;
}

.visitBtn{
    background-color: var(--discoverBtnBg)   ;
    border: solid 1px var(--discoverBtnBrdr);
    width: 100%;
    padding: 4px;
    border-radius: 5px;
    color: var(--text1);
    text-decoration: none;
    display: inline-block;
}

.followers{
    font-size: 16px;
    color:  var(--gitText2);
    font-weight: 300;

    .number{
        color: var(--text1) !important;
    }
}

.extras{
    font-size: 16px;
    color: var(--text1);
    margin: 0;
    font-weight: 300;

    i{
        color: var(--gitText2);  
    }
}

.logoGit {
    position: absolute;
    font-size: 25px;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: var(--white);
    transition: color 0.1s ease-in-out;
  }
  
  .logoGit:hover {
    color: var(--text1);
  }
  



h1 {
    font-size: 2rem;
    margin: 10px 0;
}

p {
    font-size: 1.2rem;
}

