<div class="seccionSkills">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-1 d-flex align-items-center">
        <div>
          <p class="mb-0 introTitle ">Mi marco de trabajo</p>
          <h1>Mis habilidades técnicas</h1>
          <p class="pe-2">
            Este es un resumen de mis conocimientos en el mundo del desarrollo. Navega por el menú lateral
            derecho para acceder a los apartados sobre tecnologías <span>Back-end</span>, <span>Frontend</span>, diseño de <span>Bases de
              datos</span>, <span>DevOps</span>, sistemas de <span>Control de versiones</span>,
            y <span>software extra</span> que utilizo en mi día a día para mi trabajo.
          </p>


        </div>
      </div>

      <div class="col-lg-6 order-2 my-5 d-flex align-items-center justify-content-center">
        <app-carousel></app-carousel>
      </div>


    </div>


  </div>



</div>