.seccionSkills {
    overflow: hidden;
    z-index: 1;

    
    color: white;
  }


  h1{
    font-weight: 800;
    color: var(--text1);
  }

  p{
    color: var(--text2);
    font-size: 1.125rem;
    line-height: 1.5;
    letter-spacing: -0.017em;
    font-weight: 400;
  }

  span{
    color: var(--accent);
    font-weight: 600;
  }

  .introTitle{
    color: var(--pretext);

  }

  .discoverBtn {
    background-color: var(--discoverBtnBg);
    padding: 10px;
    padding-left: 10px;
    padding-right: 35px;
    color: var(--text1);
    border-radius: 5px;
    border: 1px solid var(--discoverBtnBrdr);
    font-weight: 500;
    position: relative; 
    transition: background-color 0.3s ease; /* Transición suave para el fondo */
}

.discoverBtn .arrow {
    margin-inline-start: 5px;
    position: absolute;
    transition: margin-left 0.3s ease; /* Transición suave para el margen izquierdo */
}

.discoverBtn:hover {
    background-color: var(--discoverBtnHover); /* Fondo más claro al hacer hover */
}

.discoverBtn:hover .arrow {
    margin-left: 10px; /* Desplaza el icono hacia la derecha al hacer hover */
}

.discoverBtn:active {
  transform: scale(0.95); /* Reduce ligeramente el tamaño del botón al hacer clic */
  transition: ease-in-out 0.06s;
  background-color: var(--discoverBtnActive); /* Fondo más claro al hacer hover */
}



