  /*
  SCSS de: Componente Skills

  @Autor: Pablo López Luján
          github.com/pablolop12
  */


  /* Estilos para el texto */
  h1{
    font-weight: 800;
    color: var(--text1);
  }

  p{
    color: var(--text2);
    font-size: 1.125rem;
    line-height: 1.5;
    letter-spacing: -0.017em;
    font-weight: 400;
  }

  span{
    color: var(--accent);
    font-weight: 600;
  }

  .introTitle{
    color: var(--pretext);

  }


