/*
CSS de: Footer

# Diseño y estructuras de footer

@Autor: Pablo López Luján
        github.com/pablolop12
*/

footer {
  margin: auto;
  color: var(--text2);
  z-index: 10;
  bottom: -15px;
  left: 0;
  right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}


.icon{
  color: rgb(254, 85, 70);
}


.navLink{
  text-decoration: none;
  color: var(--text2);
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease; /* Para transiciones suaves */
}

.navLink:hover{
  color: var(--text1);
}