<footer class="own-footer w-100 py-4 flex-shrink-0">
    <div class="container py-4">
        <div class="row gy-4 gx-5">
            <div class="col-lg-4 col-md-6">
                <img class="navbar-brand" src="../../../../../assets/image.png" width="100px">
                <p class="small mt-2">Gracias por visitar mi portafolio web, no dudes en ponerte en contacto conmigo para
                    cualquier tipo de consulta.<br><br> Todo el código de esta página ha sido diseñádo desde cero sin plantillas.</p>
                <br>
                <p class="small mb-0"><span class="">2024 </span>· Pablo López Luján <a class="text-primary ms-2"
                        href="index.html">www.pablolopezlujan.es</a></p>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="mb-3">Apartados</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="#">Tecnologías</a></li>
                    <li><a href="#">Trayectoria</a></li>
                    <li><a href="#">Proyectos</a></li>
                    <li><a href="#">Conóceme</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class=" mb-3">Encuentrame</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Correo</a></li>
                    <li><a href="#">Currículum </a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class=" mb-3">¡Muchas gracias!</h5>
                <p class="small">"Convirtiendo complejidad en simplicidad a través de la programación y el diseño."
                </p>
            </div>
        </div>
    </div>
</footer>