.sectionDivider{
  height: 20vh;
}


//BACKGROUND
.background {
  position: relative;
  background-color: var(--background);
  overflow: hidden;

}

.background:before,
.background:after,
.circle-1,
.circle-2,
.circle-3,
.circle-4,
.circle-5 {
  content: '';
  position: absolute;
  border-radius: 50%;
  filter: blur(110px);
  opacity: 1;
  animation: glow 4s infinite alternate;
}

.background:before {
  width: 600px;
  height: 300px;
  rotate: 0;
  top: 55vh;
  left: -10%;
  margin: auto;
  background-color: var(--cir0);
  z-index: 1;
}

.circle-1 {
  width: 500px;
  height: 300px;
  top: 45vh;
  left: -35vh;
  margin: auto;
  background-color:var(--cir1) ;
  z-index: 0;
}

.circle-2 {
  width: 600px;
  height: 600px;
  top: -30vh;
  right: -50vh;
  margin: auto;
  background-color: var(--cir2);
  z-index: 1;
}

.circle-3 {
  width: 600px;
  height: 600px;
  top: -50vh;
  right: -10%;
  margin: auto;
  background-color: var(--cir3);
  z-index: 0;
}

.circle-4 { //TAMAÑO PEQUEÑO DESAPARECER
  width: 400px;
  height: 400px;
  top: 230vh;
  right: -10%;
  margin: auto;
  background-color: var(--cir4);
  z-index: 0;
}

.circle-5 { //TAMAÑO PEQUEÑO DESAPARECER
  width: 100px;
  height: 100px;
  top: 190vh;
  left: 0%;
  margin: auto;
  background-color: var(--cir5);
  z-index: 0;
}





@keyframes glow {
  0% {
    background-color: var(--cirG1);
    box-shadow: 0 0 10px var(--cirG2), 0 0 20px var(--cirG2), 0 0 30px var(--cirG2), 0 0 40px var(--cirG2);
  }
  50% {
    background-color: var(--cirG3);
    box-shadow: 0 0 10px var(--cirG4), 0 0 20px var(--cirG4), 0 0 30px var(--cirG4), 0 0 40px var(--cirG4);
  }
  100% {
    background-color: var(--cirG5);
    box-shadow: 0 0 10px var(--cirG6), 0 0 20px var(--cirG6), 0 0 30px var(--cirG6), 0 0 40px var(--cirG6);
  }
}

/* Media Queries para escalar los círculos del background */
@media (max-width: 1200px) {
  .background:before {
    width: 500px;
    height: 250px;
  }
  .circle-1 {
    width: 400px;
    height: 250px;
  }
  .circle-2 {
    width: 500px;
    height: 500px;
  }
  .circle-3 {
    width: 500px;
    height: 500px;
  }
  .circle-4 {
    width: 400px;
    height: 400px;
  }
  .circle-5 {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 992px) {
  .background:before {
    width: 400px;
    height: 200px;
  }
  .circle-1 {
    width: 300px;
    height: 200px;
  }
  .circle-2 {
    width: 400px;
    height: 400px;
  }
  .circle-3 {
    width: 400px;
    height: 400px;
  }
  .circle-4 {
    width: 0px;
    height: 0px;
  }
  .circle-5 {
    width: 0px;
    height: 0px;
  }
}



@media (max-width: 576px) {
  .background:before {
    width: 200px;
    height: 100px;
  }
  .circle-1 {
    width: 150px;
    height: 100px;
  }
  .circle-2 {
    width: 400px;
    height: 400px;
  }
  .circle-3 {
    width: 400px;
    height: 400px;
  }
}


