<!-- BASE DE LA WEB AQUÍ AGREGO CADA COMPONENTE POR SEPARADO COMO SI FUESE UN APPCOMPONENT -->

<body>
  <div class="background">
    <div class="circle-1"></div>
    <div class="circle-2"></div>
    <div class="circle-3"></div>
    <div class="circle-4"></div>
    <div class="circle-5"></div>
    <div class="coverBg"></div>
    <div class="fade"></div>

    <div class="contenido">
      <app-navbar></app-navbar>
      <app-profile id="profile"></app-profile>
      <div class="sectionDivider"></div>
      <app-skills id="skills"></app-skills>
      <div class="sectionDivider"></div>
      <app-experience id="experience"></app-experience>
      <div class="sectionDivider"></div>
      <app-projects id="projects"></app-projects>
      <div class="sectionDivider"></div>
      <app-about id="about"></app-about>
      <div class="sectionDivider"></div>
      <app-contact id="contact"></app-contact>
      <div class="sectionDivider"></div>
      <app-footer></app-footer>
    </div>
    
  </div>
  
</body>