<!-- BASE DE LA WEB AQUÍ AGREGO CADA COMPONENTE POR SEPARADO COMO SI FUESE UN APPCOMPONENT -->
<body>
  <div class="vignette"></div>
  <div class="background">
  <div class="circle-1"></div>
  <div class="circle-2"></div>
  <div class="circle-3"></div>
  <div class="circle-4"></div>
  <div class="circle-5"></div>
  <div class="coverBg"></div>
  
  <div class="contenido">
    <app-navbar></app-navbar>
    <app-profile></app-profile>
    <div class="sectionDivider"></div>
    <app-skills></app-skills>
    <div class="sectionDivider"></div>
    <app-experience></app-experience>
    <div class="sectionDivider"></div>
    <app-about></app-about>
  </div>
 
  </div>
    
    
  </body>
  