<div class="seccionProjects">
  <div class="container">
    <div class="background-wrapper">
      <div class="content">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6">
            <p class="mb-0 introTitle text-center">Descubre mis trabajos</p>
            <h1 class="text-center">Algunos de mis proyectos</h1>
            <p class="text-center">
              Estos son algunos de los proyectos que he hecho a lo largo de mi carrera como programador.
              Si quieres descubrir más, puedes echar un vistazo a mi perfil de <span>GitHub</span>, donde tengo mis
              demás repositorios.
            </p>
          </div>
        </div>
      </div>
      <div class="baseContent d-flex mt-5">
        <div class="row" style="height: 100%;">

          <!-- Perfil de Github -->
          <div class="col-lg-4 justify-content-center d-flex">
            <div class="holder2 mb-5">
              <div class="gitPrev ">
                <app-gitprev></app-gitprev>
              </div>
            </div>
          </div>

          <!-- Bento Boxes -->
          <div class="col-lg-8 col-md-12">

            <!-- Proyectos visibles inicialmente -->
            <div class="projectHolder d-flex flex-lg-row flex-column mb-5">
              <img src="https://via.placeholder.com/400x300" alt="Project Preview 3"
                class="project-image img-fluid mb-3 mb-lg-0">
              <div class="contentB px-3">
                <h2 class="mb-0">Gestor nutricional</h2>
                <h6 class="techTag mb-3">#Full-Stack</h6>
                <span class="techBadge">
                  <i class="fa-brands fa-java me-1"></i>Java</span><span class="techBadge">
                  <i class="fa-brands fa-angular me-1"></i>Angular</span>
                <p>
                  Aplicación para deportistas que permite el seguimiento diario de valores nutricionales. Calcula
                  automáticamente los macronutrientes objetivo de cada usuario. </p>
                <a class="tryBtn"><i class="fa-solid fa-code me-1"></i>Código</a>
                <a class="tryBtn"><i class="fa-solid fa-link me-1"></i>Pruébalo</a>
              </div>
            </div>

            <div class="projectHolder d-flex flex-lg-row flex-column mb-5">
              <img src="https://via.placeholder.com/400x300" alt="Project Preview 3"
                class="project-image img-fluid mb-3 mb-lg-0">
              <div class="contentB px-3">
                <h2 class="mb-0">Librería de recursos</h2>
                <h6 class="techTag mb-3">#Front-End</h6>
                <span class="techBadge">
                  <i class="fa-brands fa-angular me-1"></i>Angular
                </span>
                <p>
                  Librería de recursos HTML-CSS personal donde publico elementos de diseño Front-End que uso
                  recurrentemente en mis proyectos personales.
                </p>
                <a class="tryBtn"><i class="fa-solid fa-code me-1"></i>Código</a>
                <a class="tryBtn"><i class="fa-solid fa-link me-1"></i>Pruébalo</a>
              </div>
            </div>

            <!-- Proyectos ocultos inicialmente -->
            <div class="extra-projects" [ngClass]="{'expanded': showMore}">
              <div class="projectHolder d-flex flex-lg-row flex-column mb-5">
                <img src="https://via.placeholder.com/400x300" alt="Project Preview 3"
                  class="project-image img-fluid mb-3 mb-lg-0">
                <div class="contentB px-3">
                  <h2 class="mb-0">Proyecto adicional 1</h2>
                  <h6 class="techTag mb-3">#Full-Stack</h6>
                  <span class="techBadge">
                    <i class="fa-brands fa-java me-1"></i>Java</span><span class="techBadge">
                    <i class="fa-brands fa-angular me-1"></i>Angular</span>
                  <p>
                    Este es un proyecto de placeholder adicional para mostrar la funcionalidad del botón "Mostrar más".
                  </p>
                  <a class="tryBtn"><i class="fa-solid fa-code me-1"></i>Código</a>
                  <a class="tryBtn"><i class="fa-solid fa-link me-1"></i>Pruébalo</a>
                </div>
              </div>

              <div class="projectHolder d-flex flex-lg-row flex-column mb-5">
                <img src="https://via.placeholder.com/400x300" alt="Project Preview 3"
                  class="project-image img-fluid mb-3 mb-lg-0">
                <div class="contentB px-3">
                  <h2 class="mb-0">Proyecto adicional 2</h2>
                  <h6 class="techTag mb-3">#Full-Stack</h6>
                  <span class="techBadge">
                    <i class="fa-brands fa-angular me-1"></i>Angular
                  </span>
                  <p>
                    Este es otro proyecto de placeholder adicional para el despliegue con animación.
                  </p>
                  <a class="tryBtn"><i class="fa-solid fa-code me-1"></i>Código</a>
                  <a class="tryBtn"><i class="fa-solid fa-link me-1"></i>Pruébalo</a>
                </div>
              </div>
            </div>

            <!-- Botón para mostrar más proyectos -->
            <div class="text-center">
              <a class="textToggle" (click)="toggleShowMore()">
                {{ showMore ? 'Mostrar menos proyectos' : 'Mostrar más proyectos' }}
                <i class="fa ms-2" [ngClass]="showMore ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
              </a>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>