/* SCSS de: Componente Contact
   @Autor: Pablo López Luján
   github.com/pablolop12
*/

/* COntenedor del componente */
.seccionContact {
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: var(--text1);
}

/* Textos */
.preTittle {
  font-size: 30px !important;
  font-weight: 500;
  color: var(--text2);
  margin: 0;
}

/* Titulo grande */
.nombre-animado {
  font-family: Frygia-Heavy;
  color: var(--tAnimado1);
}

/* Botones */
.linkHolder {
  padding: 5px;
  padding-inline: 10px;
  border-radius: 15px;
  border: none;
  background-color: var(--bBg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s ease-in-out;
  text-decoration: none;

  .text-semi2 {
    color: var(--bText);
  }
}

.linkHolder:hover {
  background-color: var(--bBgHover);
}

.linkHolder:active {
  transform: scale(0.95);
  transition: ease-in-out 0.06s;
  background-color: var(--bClick);
}

/* Media query */
@media screen and (max-width: 768px) {
  .nombre-animado {
    font-size: 50px; /* Reduce el tamaño del título */
    text-align: center;
  }

  .contact {
    flex-direction: column; /* Alinea los botones en columna */
  }

  .linkHolder {
    text-align: center;
    margin-bottom: 10px; /* Espacio entre botones */
  }
}
