<div class="seccionContact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contacto-index">
                    <p class="preTittle text-center ">¿Por qué no hablamos?</p>
                    <div class="rectangulo">
                        <h1 class="nombre-animado titulo1 text-center" style="font-size: 70px;">Contácta
                            conmigo</h1>
                    </div>
                    <p>Puedes contactar conmigo a través de este formulario introduciento todos los campos a
                        continuación,
                        asegúrate de introducir un correo electrónico válido para poder devolverte una respuesta,
                        muchas gracias por el interés.
                    </p>
                    <div class="contact d-flex justify-content-center align-items-center mb-4">
                        <div class="linkHolder me-2 d-flex align-items-center mt-2" >
                            <i class="bi bi-download me-1 text-semi2"></i>
                            <span class="text-semi2">Descargar CV</span>
                        </div>
                        <div class="linkHolder me-2 d-flex align-items-center mt-2" id="copyEmailBtn" >
                            <i class="fa-solid fa-envelope text-semi2 me-1"></i>
                            <span class="text-semi2">pablolopezlujan01&#64;gmail.com</span><i class="fa fa-copy text-semi2 ms-2"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="formulario">
                    <form>
                        <div class="input-groupOwn mb-3">
                            <span><i class="fa-solid fa-at"></i></span>
                            <input type="text"placeholder="Introduce un correo electrónico válido" aria-label="Username" required maxlength="50">
                        </div>
                        <div class="input-groupOwn mb-3">
                            <span><i class="fa-solid fa-pencil"></i></span>
                            <input type="text"placeholder="Introduce un asunto para el mensaje" aria-label="Username" required maxlength="50">
                        </div>
                        <div class="form-group mb-3">
                            <label for="message"><p class="m-0 p-0" style="color: var(--text1);">Mensaje</p></label>
                            <textarea class="form-control" id="message" rows="6" required
                                placeholder="Escribe aquí tu mensaje..."></textarea>
                        </div>
                        <button type="submit" class="linkHolder xtra">
                            <span class="text-semi2">Enviar <i class="fa-regular fa-paper-plane ms-1"></i></span>
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>