.seccionContact {
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: var(--text1);
}


.preTittle{
    font-size: 30px !important;
    font-weight: 500;
    color: var(--text2);
    margin: 0;
}




@media screen and (max-width: 768px) {
    .formulario form input[type="submit"] {
        width: 100%;
    }
}



.nombre-animado {
    font-family: Frygia-Heavy;
    background: -webkit-linear-gradient(0deg, var(--tAnimado1), var(--tAnimado2), var(--tAnimado3), var(--tAnimado4), var(--tAnimado5));
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animacion 5s linear infinite;
  }

@keyframes animacion {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}


.linkHolder {
    padding: 5px;
    padding-inline: 10px;
    border-radius: 15px;
    //border: #0052cc solid 1px;
    border: none;
    background-color: var(--bBg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s ease-in-out;
    .text-semi2 {
        color: var(--bText);
      } 
  }
  
  .linkHolder:hover {
    background-color: var(--bBgHover);
  }
  
  .linkHolder:active{
    transform: scale(0.95); /* Reduce ligeramente el tamaño del botón al hacer clic */
    transition: ease-in-out 0.06  s;
    background-color: var(--bClick);
  }


  .input-groupOwn{

    display: flex;
    align-items: center;
    height: 40px; /* Define a height for the container */
    span{
        background-color: var(--accent);
        color: white;
        border-radius: 5px 0 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px;
        width: 40px;
        height:100%;
    }

    input{
        margin-bottom: 0;
        background-color: var(--input);
        width: 100%;
        border-radius: 0 5px 5px 0 !important;
        height: 100%;
        border: none;
        padding-left: 10px;
        color: var(--text1);
    }

    input:focus {
        outline: none; /* Remove default outline */
    }

    ::placeholder {
        color: var(--text1);
        opacity: 1; /* Firefox */
      }


  }

  textarea {
    border: none !important;
    max-height: fit-content;
    background-color: var(--bBg);
    color: var(--text1);
    overflow: auto;
    outline: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none !important;
  }

  textarea::placeholder {
    color: var(--text1); 
    opacity: 1;
  }

  textarea:focus { 
    outline: none !important;
    color: var(--text1);
    background-color: var(--bBg);
 }

  .xtra{
    border-radius: 5px;
  }

  p{
    color: var(--text2);
    font-size: 1.125rem;
    line-height: 1.5;
    letter-spacing: -0.017em;
    font-weight: 400;
  }