:root {
  --white: white;
  //NAVBAR
  --navVignette: #000000dc;

  //TEXTO ANIMADO
  --tAnimado1: #18ba36;
  --tAnimado2: #15d67c;
  --tAnimado3: #20c438;
  --tAnimado4: #14d592;
  --tAnimado5: #26e482;

  //TEXTOS RECURRENTES
  --text1: #ebebeb;
  --text2: #ffffffa5;
  --accent: #1cac55;
  --pretext: #b7ffe2cd;
  --date: #ffffffa9;
  --external: #ffffff54;


  //BOTONES ACCIÓN
  --bText: #22da78;
  --bBg: #1cdc6c3f;
  --bBgHover: #51dd903f;
  --bClick: #025f2a3f;

  --dispBg: #ffffff16;

  //POLYGON SKILLS
  --line1: #7ae0ac;
  --line2: #289b60;
  --line3: #12b15f;
  --line4: #00c850;
  --line5: #69dea1;

  --discoverBtnBg: #ffffff09;
  --discoverBtnBrdr: #ffffff2b;
  --discoverBtnHover: #ffffff1a;
  --discoverBtnActive: #ffffff04;

  //TRAYECTORIA
  --tl1: #ffffff00;
  --tl2: #ffffff4d;
  --formationBox: #252525;
  --baseExp: #222222bb;

  //PROJECTS
  --light: #289b60;
  --gitprev: #222222;
  --gitText2: #ffffffa7;
  --bento: #222222;
  --light: #289b60;

  --badgeText:#a9fdd0ff;
  --badgeBack:#1f4c33;
  


  //BACKGROUND
  --background: #161616;
  --cir0: #161616;
  --cir1: #161616;
  --cir2: #161616;
  --cir3: #161616;
  --cir4: #161616;
  --cir5: #161616 ;

  --cirG1: #4ca075;
  --cirG2: #4ca075;

  --cirG3: #4ca075;
  --cirG4: #4ca075;

  --cirG5: #4ca075;
  --cirG6: #4ca075;

  //OTROS
  --badgeB: #ffffff1f; //Borde del badge experiencia/formación
  --badgeBg: #00000011; //Background del badge
  --footer: #00000057;
  --input: #1cdc6c3f;
}


.light-theme {
  --white: white;
  //NAVBAR
  --navVignette: #ffffffdc;

  //TEXTO ANIMADO
  --tAnimado1: #272727;
  --tAnimado2: #272727;
  --tAnimado3: #272727;
  --tAnimado4: #272727;
  --tAnimado5: #272727;

  //TEXTOS RECURRENTES
  --text1: #272727;
  --text2: #1e1e1ea5;
  --accent: #069751;
  --pretext: #2c573e;
  --date: #000000a9;
  --external: #00000054;

  //BOTONES ACCIÓN
  --bText: #219054;
  --bBg: #17b4583f;
  --bBgHover: #51dd903f;
  --bClick: #025f2a3f;

  --dispBg: #00000012;

  //POLYGON SKILLS
  --line1: #2b2b2b;
  --line2: #2b2b2b;
  --line3: #2b2b2b;
  --line4: #2b2b2b;
  --line5: #2b2b2b;

  --discoverBtnBg: #19191909;
  --discoverBtnBrdr: #0000002b;
  --discoverBtnHover: #00000020;
  --discoverBtnActive: #ffffff04;

  //TRAYECTORIA
  --tl1: #00000000;
  --tl2: #00000093;
  --formationBox: #ffffff7d;
  --baseExp: #dadada7c;

  //PROJECTS
  --light: #4c9b6e;
  --gitprev: #e2e2e2;
  --gitText2: #000000a7;
  --bento: #f3f3f3;

  --badgeText:rgb(0, 54, 25);
  --badgeBack:#017e3a58;
  


  //BACKGROUND
  --background: #ffffff;
  --cir0: #000000;
  --cir1: #000000;
  --cir2: #000000;
  --cir3: #000000;
  --cir4: #00000067;
  --cir5: #0000001b;

  --cirG1: #5d9a7a;
  --cirG2: #5d9a7a;

  --cirG3: #5d9a7a;
  --cirG4: #5d9a7a;

  --cirG5: #5d9a7a;
  --cirG6: #5d9a7a;

  //OTROS
  --badgeB: #0000001f; //Borde del badge experiencia/formación
  --badgeBg: #ffffff4c; //Background del badge
  --footer: #0000000d;
  --input: #17b4583f;
}






@font-face {
  font-family: "Frygia-Heavy";
  src: url(assets/Frygia-Heavy.ttf) format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: "Roboto", sans-serif;
}


.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

::-moz-selection {
  /* Code for Firefox */
  background: rgba(17, 108, 165, 0.529);
}

::selection {
  color: var(--text1);

  background: var(--bBg);

}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #262627;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.386);
  border-radius: 3px
}


@import '../node_modules/bootstrap/scss/bootstrap.scss';