:root {
  --white: white;
  //NAVBAR
  --navVignette: #000000dc;

  //TEXTO ANIMADO
  --tAnimado1: #0033cc;
  --tAnimado2: #00c8ff;
  --tAnimado3: #0066ff;
  --tAnimado4: #00b7ff;
  --tAnimado5: #0033cc;

  //TEXTOS RECURRENTES
  --text1: #ebebeb;
  --text2: #ffffffa5;
  --accent: #4698fe;
  --pretext: #b7d7ffcd;
  --date: #ffffffa9;
  --external: #ffffff54;


  //BOTONES ACCIÓN
  --bText: #70d0eb;
  --bBg: #007db33f;
  --bBgHover: #51b3dd3f;
  --bClick: #02435f3f;

  --dispBg: #ffffff32;

  //POLYGON SKILLS
  --line1: #9abbc6;
  --line2: #6095a5;
  --line3: #246f86;
  --line4: #3b7ab0;
  --line5: #9abbc6;

  --discoverBtnBg: #ffffff09;
  --discoverBtnBrdr: #ffffff2b;
  --discoverBtnHover: #ffffff1a;
  --discoverBtnActive: #ffffff04;

  //TRAYECTORIA
  --tl1: #ffffff00;
  --tl2: #ffffff4d;
  --formationBox: #252525;
  --baseExp: #222222bb;

  //PROJECTS
  --light: #195db6;
  --gitprev: #222222;
  --gitText2: #ffffffa7;
  --bento: #222222;


  //BACKGROUND
  --background: #161616;
  --cir0: #04abff;
  --cir1: #0471ff;
  --cir2: #0471ff;
  --cir3: #048aff;
  --cir4: #048aff67;
  --cir5: #048aff1b;

  --cirG1: #04e6ff;
  --cirG2: #0471ff;

  --cirG3: #00c3ff;
  --cirG4: #00b7ff;

  --cirG5: #0492ff;
  --cirG6: #0471ff;

  //OTROS
  --badgeB: #ffffff1f; //Borde del badge experiencia/formación
  --badgeBg: #00000011; //Background del badge
}


.light-theme {
  --white: white;
  //NAVBAR
  --navVignette: #ffffffdc;

  //TEXTO ANIMADO
  --tAnimado1: #272727;
  --tAnimado2: #272727;
  --tAnimado3: #272727;
  --tAnimado4: #272727;
  --tAnimado5: #272727;

  //TEXTOS RECURRENTES
  --text1: #272727;
  --text2: #1e1e1ea5;
  --accent: #1b5935;
  --pretext: #2c573e;
  --date: #000000a9;
  --external: #00000054;

  //BOTONES ACCIÓN
  --bText: #219054;
  --bBg: #17b4583f;
  --bBgHover: #dd51513f;
  --bClick: #5f02023f;

  --dispBg: #00000012;

  //POLYGON SKILLS
  --line1: #000000;
  --line2: #000000;
  --line3: #000000;
  --line4: #000000;
  --line5: #000000;

  --discoverBtnBg: #19191909;
  --discoverBtnBrdr: #0000002b;
  --discoverBtnHover: #0000008a;
  --discoverBtnActive: #ffffff04;

  //TRAYECTORIA
  --tl1: #00000000;
  --tl2: #00000093;
  --formationBox: #ffffff7d;
  --baseExp: #dadada7c;

  //PROJECTS
  --light: #4c9b6e;
  --gitprev: #e2e2e2;
  --gitText2: #000000a7;
  --bento: #f3f3f3;
  


  //BACKGROUND
  --background: #ffffff;
  --cir0: #000000;
  --cir1: #000000;
  --cir2: #000000;
  --cir3: #000000;
  --cir4: #00000067;
  --cir5: #0000001b;

  --cirG1: #5d9a7a;
  --cirG2: #5d9a7a;

  --cirG3: #5d9a7a;
  --cirG4: #5d9a7a;

  --cirG5: #5d9a7a;
  --cirG6: #5d9a7a;

  //OTROS
  --badgeB: #ff00001f; //Borde del badge experiencia/formación
  --badgeBg: #e20d0d11; //Background del badge
}




.crystal {
  background-color: rgba(0, 0, 0, 0.567);
  border: solid 1px rgba(255, 255, 255, 0.142);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.82);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.82);
}

@font-face {
  font-family: "Frygia-Heavy";
  src: url(assets/Frygia-Heavy.ttf) format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: "Roboto", sans-serif;
}


.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

::-moz-selection {
  /* Code for Firefox */
  background: rgba(17, 108, 165, 0.529);
}

::selection {
  //color: red !important;

  background: rgba(17, 108, 165, 0.529);

}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #262627;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.386);
  border-radius: 3px
}


@import '../node_modules/bootstrap/scss/bootstrap.scss';