<nav class="navbar navbar-expand-md fixed-top navbar-scroll ">
  <div class="vignette"></div>
  <div class="container-fluid container">
    
    <!-- LOGO -->
    <a class="navbar-brand me-5" href="#top">
      <img src="../../../../../assets/image.png" height="40px">
    </a>

    <!-- BOTON HAMBURGUESA -->
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
      aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>

    <!-- elementos del menu colapsable -->
    <div class="collapse navbar-collapse " id="menu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" [ngClass]="{ 'active': currentSection === 'skills' }">
          <a class="nav-link" href="#skills">Tecnologías</a>
        </li>
        <li class="nav-item" [ngClass]="{ 'active': currentSection === 'experience' }">
          <a class="nav-link" href="#experience">Trayectoria</a>
        </li>
        <li class="nav-item" [ngClass]="{ 'active': currentSection === 'projects' }">
          <a class="nav-link" href="#projects">Proyectos</a>
        </li>
        <li class="nav-item" [ngClass]="{ 'active': currentSection === 'about' }">
          <a class="nav-link" href="#about">Sobre mí</a>
        </li>
        <li class="nav-item" [ngClass]="{ 'active': currentSection === 'contact' }">
          <a class="nav-link" href="#contact">Contacto</a>
        </li>
        <button (click)="toggleTheme()">Modo Claro/Oscuro</button>
      </ul>
    </div>
  </div>
</nav>
