  /*
  SCSS de: Componente Navbar

  @Autor: Pablo López Luján
          github.com/pablolop12
  */

  //Efecto "Vignette" añade oscuridad en el TOP del Navbar
  .vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 180px 53px -102px var(--navVignette);
    z-index: -1;
    pointer-events: none;

  }

  //Estilos para los elementos (Enlaces y botones) del Navbar
  .nav-item {
    .nav-link {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      transition: transform 0.3s ease-in-out;
    }
  }

  //Estilos concretos links NavBar
  .nav-link {
    color: var(--text1);
    font-size: 18px;
    font-weight: 500;
    padding-left: 40px;
  }

  //Estilos para Icono (Tema changer)
  .icono {
    font-size: 17px !important;
  }



  /*
  Estilos para BOTON HAMBURGUESA

  - Reset de estilos
  - Spacing Lineas Hamburguesa
  - Estilos X 
  - Animaciones del botón
  */

  /* Reset de estilo para el botón Hamburguesa del Navbar tamaño pequeño */
  /* Reset de estilo para el botón Hamburguesa del Navbar */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.navbar-toggler:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}


  /*  Espacio entre las lineas botón Hamburguesa */
  .middle-bar {
    margin: 5px auto;
  }

  /* Estilos X */
  .toggler-icon {
    width: 30px;
    height: 3px;
    background-color: #e74c3c;
    display: block;
    transition: all 0.2s;
  }

  /* Animaciones del botón */
  .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

  .navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }

  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
  }

  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
  }


/* Colores Y Hover */
.navbar-toggler.collapsed .toggler-icon {
  background-color: var(--accent);
}

.navbar-nav .nav-item.active .nav-link {
  color: var(--accent);
}

.navbar-nav .nav-item .nav-link {
  transition: color 0.3s ease, font-weight 0.3s ease, transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);

  }
}

  /* Media query para navbar tamano pequeño estilos nav pequeño */
  @media (max-width: 767.98px) {
    .vignette{
      opacity: 0;
    }
    .navbar {
      background-color: var(--navbarMini);
      margin: 7px;
      border-radius: 10px;
      backdrop-filter: blur(7px);
      -webkit-backdrop-filter: blur(5.5px);
      transition: background-color 0.2s ease-in-out;
    }
  }