<nav class="navbar navbar-expand-md fixed-top navbar-scroll">
  <div class="vignette"></div>
  <div class="container-fluid container">

    <!-- LOGO -->
    <a class="navbar-brand me-5" href="#top">
      <img src="../../../../../assets/image.png" height="40px">
    </a>

    <!-- BOTON HAMBURGUESA -->
    <button class="navbar-toggler" type="button" (click)="toggleMenu()" [ngClass]="{'collapsed': isMenuCollapsed}" aria-expanded="!isMenuCollapsed" aria-label="Toggle navigation">
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>

    <!-- Elementos del menú colapsable -->
    <div class="collapse navbar-collapse" id="menu" [ngClass]="{'show': !isMenuCollapsed}">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" [ngClass]="{ 'active': currentSection === 'skills' }">
          <a class="nav-link" href="#skills">Tecnologías</a>
        </li>
        <li class="nav-item" [ngClass]="{ 'active': currentSection === 'experience' }">
          <a class="nav-link" href="#experience">Trayectoria</a>
        </li>
        <li class="nav-item" [ngClass]="{ 'active': currentSection === 'projects' }">
          <a class="nav-link" href="#projects">Proyectos</a>
        </li>
        <li class="nav-item" [ngClass]="{ 'active': currentSection === 'about' }">
          <a class="nav-link" href="#about">Pablo</a>
        </li>
        <li class="nav-item" [ngClass]="{ 'active': currentSection === 'contact' }">
          <a class="nav-link" href="#contact">Contacto</a>
        </li>

        <!-- Botón de cambio de tema -->
        <li class="nav-item">
          <a class="nav-link" (click)="toggleTheme()">
            <i *ngIf="isDarkTheme" class="bi bi-moon-fill icono"></i>
            <i *ngIf="!isDarkTheme" class="bi bi-brightness-high-fill icono"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
