<nav class="navbar navbar-expand-md fixed-top navbar-scroll ">
  <div class="container-fluid container">

    <!-- LOGO -->
    <a class="navbar-brand me-5" href="#top">
      <img src="../../../../../assets/image.png" height="40px">
    </a>

    <!-- BOTON HAMBURGUESA -->

    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
      aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>

    <!-- elementos del menu colapsable -->

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#tec">Tecnologías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#proyectos">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#aptitudes">Aptitudes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacto">Contacto</a>
        </li>

      </ul>
<!-- 
       <hr class="d-md-none text-white-50">
      -->
     

      <!-- enlaces redes sociales
       
       <ul class="navbar-nav  flex-row flex-wrap text-light">


        <li class="nav-item col-6 col-md-auto p-3">
          <button class="cvButton"><i class="fa-solid fa-download"></i> Descargar cv</button>
        </li>

      </ul>-->

     
    </div>
  </div>
</nav>