.seccionIntro {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.scrollIncent{
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, -0%);
  color: white;
}

.scrollIncent span {
  display: block;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.highLight {
  width: 50vh;
  height: 50vh;
  position: absolute;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.034);
  border-radius: 50%;
  filter: blur(80px);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nombre-animado {
  font-family: Frygia-Heavy;
  background: -webkit-linear-gradient(0deg, #0033cc, #00c8ff, #0066ff, #00b7ff, #0033cc);
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animacion 5s linear infinite;
}

@keyframes animacion {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

.text-semi {
  color: hsla(0, 0%, 100%, 0.859);
}

.text-semi2 {
  color: rgb(112, 208, 235);
}

.text-semi3 {
  color: rgba(255, 255, 255, 0.705)
}



.introTexto {
  position: relative;
  z-index: 1;
}

.introText {
  font-weight: 400;
  font-size: 25px;
  margin: none;
}

.bigText {
  font-weight: 900;
  font-size: 85px;
  margin: none;
}

.dot {
  font-family: Frygia-Heavy;
  background: -webkit-linear-gradient(0deg, #0033cc, #00c8ff, #0066ff, #00b7ff, #0033cc);
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animacion 5s linear infinite;
}

.secondaryText {
  font-weight: 500;
  font-size: 25px;
  margin: none;
}

.bloqueContacto .secondaryText {
  font-weight: 400;
  font-size: 25px;
  margin: none;
}

.linkHolder {
  padding: 5px;
  padding-inline: 10px;
  border-radius: 15px;
  //border: #0052cc solid 1px;
  background-color: #007db33f;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}

.linkHolder:hover {
  background-color: #51b3dd3f;
}

.linkHolder:active{
  transform: scale(0.95); /* Reduce ligeramente el tamaño del botón al hacer clic */
  transition: ease-in-out 0.06  s;
  background-color: #02435f3f;
}

.btnDescarga {
  /* Estilos para el botón de descarga si es necesario */
}

.disponibilidad {
  background-color: rgba(255, 255, 255, 0.196);
  color: rgba(255, 255, 255, 0.7);
  padding: 4px;
  width: fit-content;

  padding-inline: 10px;
  border-radius: 4px;
}

.disponibilidad .dot2 {
  background-color: rgb(0, 252, 0);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(0, 252, 0, 0.6);
  }

  5% {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 252, 0, 0.8);
  }

  10% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(0, 252, 0, 0.6);
  }

  15% {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 252, 0, 0.8);
  }

  20% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(0, 252, 0, 0.6);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(0, 252, 0, 0.6);
  }
}

//ANIMACION ESCRIBIR:
.typing {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 24px;
  animation: typing 1s steps(10, end), blink-caret .75s step-end infinite;
  padding-right: 0.2em;
  /* Ajusta este valor para separar más la línea del texto */
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 6ch;
  }

  /* Ajusta el valor de acuerdo a la longitud del texto */
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: rgba(255, 255, 255, 0.804);
  }
}